.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    color: white;
    height: 50px;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.in{
    background-color:green;
}
.inWord{
    background-color:yellow;
}